<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
So schreibst du Code für eine bestimmte Obstsorte:\
`if graphic.text == "🍐"{`\
`   // Do something.`\
`}`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`if graphic.text == "🍐" {`\
`   playSound(.pop)`\
`}`\
`if graphic.text == "🍊" {`\
`   playSound(.tennis)`\
`}`\
`if graphic.text == "🍋" {`\
`   playSound(.snare)`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Glückwunsch!

Warum versuchst du es nicht mal mit anderen Emojis (z. B. Tieren) und anderen Tönen?

[**Nächste Seite**](@next)
  	</string>
		</dict>
	</dict>
</dict>
</plist>
