<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>
Create a `Tool` instance, giving it a name and emoji icon.
		</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
Set the tool’s `onFingerMoved` property to the full name of a “finger moved” event handler function.
		</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
Set the tool’s `onGraphicTouched` property to the full name of a “graphic touched” event handler function.
		</string>
		</dict>
	</array>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>Name</key>
	<string>Touching a Graphic to Speak</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
