<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>真ん中の道に沿って歩くと、宝石のあるマスの右側にはいつも、下り階段がありますね。切れているスイッチのマスの左側には、いつも宝石がありますよ。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
