<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
タッチしたグラフィックの`alpha`（アルファ）の値を0.25のような値に設定すると、グラフィックはほぼ透明になります。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`if`文と`&lt;`演算子を使って、`graphic.alpha`が1より小さいかどうかを確かめます。
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Modify alpha.`\
`if graphic.alpha &lt; 1.0 {`\
`   graphic.alpha = 1.0`\
`} else {`\
`   graphic.alpha = 0.25`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### よくできました!

[**次のページ**](@next)では、グラフィックをやっつけて楽しむことができますよ!
			</string>
		</dict>
	</dict>
</dict>
</plist>
