<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>在第一个平台上，会出现随机数量的宝石。检查每块砖并递增记录宝石数量的变量来跟进收集数量。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
