<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>コマンドをいくつか入力する必要があります。最初に、“タップしてコードを入力”と書かれている部分をタップしてから、`moveForward()`（進む）と`collectGem()`（宝石を取る）を使って、ステージをクリアしましょう。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
