<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
グラフィックを中心の周りで回転させます:\
`graphic.orbit(x: x, y: y, period: period)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`period`（周期）を0.5から4.0までのランダムな`Double`（倍精度浮動小数点）値に変えてみてください。
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### すごい! 惑星運動の技をマスターしましたね!

** 思い出そう:** 整数以外のすべての数値に`Double`（倍精度浮動小数点）型を使用します。

[**次のページ**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
