<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hints</key>
	<array>
		<string>
Use `things[index]` and `colors[index]` to get the space thing and the color.
		</string>
	</array>
	<key>solution</key>
	<string>
`let graphic = Graphic(text: things[index])`\
\
`graphic.textColor = colors[index]`
	</string>
	<key>success</key>
	<string>
### Well done!

You can use the **Text** tool to place text, just like you use the **Image** tool to place images. Both tools place `Graphic` instances on the scene as your finger moves.

[**Next Page**](@next)
	</string>
</dict>
</plist>
