<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Obtiens la position suivante et incrémente `pointIndex` :\
`let position = points[pointIndex]`\
`pointIndex += 1`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Réinitialise `pointIndex` pour qu’il reste dans les limites du tableau :\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Get position.`\
`let position = points[pointIndex]`\
`// Increment pointIndex.`\
`pointIndex += 1`\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`\
`// Move graphic to position.`\
`graphic.move(to: position, duration: 1.0)`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Félicitations !

Essaie différents points, fonctions et paramètres pour obtenir différents patterns.

**Défi :** Les points renvoyés par une fonction de pattern sont placés autour du centre de la scène. Tu peux facilement ajouter un décalage x ou y à chaque point, en plaçant le pattern où tu le souhaites. Essaie de placer plusieurs patterns à différents endroits de la scène.

[**Page suivante**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
