<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Intenta mantener tu bloque `else` así como está, sin cambiar el comando `moveForward()`. En lugar de eso, modifica los comandos dentro del bloque `if`.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
