<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
If you set the touched graphic’s `alpha` value to something like 0.25, the graphic will be almost transparent.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Use an `if` statement with the `&lt;` operator to check if `graphic.alpha` is less than 1.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Modify alpha.`\
`if graphic.alpha &lt; 1.0 {`\
`   graphic.alpha = 1.0`\
`} else {`\
`   graphic.alpha = 0.25`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Well done!

On the [**next page**](@next), you’ll have some fun squishing graphics!
			</string>
		</dict>
	</dict>
</dict>
</plist>
