<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>
Place a graphic in each quadrant, calculating the (x, y) coordinates for each.\
As an example, get the position of the graphic in the bottom left quadrant:\
`let position3 = Point(x: -x, y: -y)`
		</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
**Idea:** Set the `rotation` and `scale` of each graphic to the same random values:\
`let rotation = randomDouble(from: 0, to: 180)`\
`let scale = randomDouble(from: 0.5, to: 2.5)`
		</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
**Idea:** Make each graphic fade away after a period:\
`graphic.fadeOut(after: 2.0)`
		</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
**Idea:** Move each graphic into position from the touch position:\
`scene.place(graphics[0], at: touch.position)`\
`graphics[0].move(to: position1, duration: 2.0)`
		</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
This is a **Create** page and no solution is provided. You’re free to come up with your own creative ideas.
		</string>
		</dict>
	</array>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>Name</key>
	<string>Interstellar Symmetry </string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
