<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`bradleyHand`、`markerfelt`、`zapfino`などのほかのフォントを試してみてください。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
グラフィックの位置を直すには、 **移動** ツールを使います。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`Graphic`（グラフィック）の`rotation`（回転）プロパティを次のように使います: `graphic1.rotation = 30`
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
