<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>首先，使你的角色穿过蓝色传送门，到达传送门另一头的宝石处。你可能需要关闭蓝色传送门，才能将两颗宝石都收入囊中。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
