<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
为特殊类型的水果写如下代码：\
`if graphic.text == "🍐"{`\
`   // 执行某种操作。`\
`}`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`if graphic.text == "🍐" {`\
`   playSound(.pop)`\
`}`\
`if graphic.text == "🍊" {`\
`   playSound(.tennis)`\
`}`\
`if graphic.text == "🍋" {`\
`   playSound(.snare)`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 恭喜！

何不尝试一下不同的表情符号（也许用下动物？）和声音？！

[**下一页**](@next)
  	</string>
		</dict>
	</dict>
</dict>
</plist>
