<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Coloca un gráfico en cada cuadrante, calculando las coordenadas (x, y) para cada uno.
Como ejemplo, obtén la posición del gráfico en el cuadrante inferior izquierdo:
`let position3 = Point(x: -x, y: -y)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Idea:** establece los valores `rotation` `scale` de cada gráfico a los mismos valores aleatorios:
`let rotation = randomDouble(from: 0, to: 180)`\
`let scale = randomDouble(from: 0.5, to: 2.5)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Idea:** haz que cada gráfico se desvanezca después de un rato:\
`graphic.fadeOut(after: 2.0)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Idea:** mueve cada gráfico desde la posición táctil a otra posición:
`scene.place(graphics[0], at: touch.position)`\
`graphics[0].move(to: position1, duration: 2.0)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Esta es una página **Crea**, por lo que no se proporciona una solución. Puedes usar tu imaginación y crear tus propias ideas.
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
