<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Primero mira el rompecabezas. Es posible que sea difícil identificar el patrón a la primera. Intenta resolver una parte del rompecabezas antes de crear tu bucle.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
