<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
将 `index` 设为指向数组中的随机项目：\
`let index = randomInt(from: 0, to: animals.count - 1)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`rotation` 的度数可以取 `0` 至 `360` 之间的任何 `Double`（双精度浮点数）值。
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Set index to a random value.`\
`let index = randomInt(from: 0, to: animals.count - 1)`\
\
`// Scale and rotate graphic.`\
`graphic.scale = randomDouble(from: 0.5, to: 2.0)`\
`graphic.rotation = randomDouble(from: 0.0, to: 360.0)`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 不错！

尝试创建你自己的图像数组并使用 `scale` 和 `rotation`。

[**下一页**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
