<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
使用 `componentsByCharacter()` 将 `emoji` 分离成单个字符的字符串数组。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
当 `index` 到达数组末尾时将它设回零：\
`if index == characters.count {`\
`   index = 0`\
`}`
</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`let characters = emoji.componentsByCharacter()`\
\
`var chosenEmoji = "🐠"`\
`chosenEmoji = characters[index]`\
`let graphic = Graphic(text: chosenEmoji)`\
`index += 1`\
`if index == characters.count {`\
`   index = 0`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 👏💪

使用表情符号给文本和场景添加一些火花 ✨。

尝试给 `scale` 和 `rotation` 设置不同的值。

[**下一页**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
