<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Die Länge der Plattform ändert sich jedes Mal, wenn der Code ausgeführt wird. Verwende eine Lösung, die diese Änderungen berücksichtigt.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
