<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>First, you’ll need to define the `turnLock` function so that it uses the `up` [parameter](glossary://parameter) to tell the expert which direction to turn the lock. Then use `numberOfTimes` to set the number of times to turn the lock.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
