<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Hay tres escaleras importantes que debes subir en este nivel. Para cada una, usa una función que haga que tu personaje suba, active el interruptor y se baje.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
