<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>若要通关，你需要在关卡世界中放置你的专家。[初始化](glossary://initialization) `Expert` 类型的实例，然后告诉关卡世界你要放置该实例的位置。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
