<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>[関数](glossary://function)では、まず宝石を取ってから、1マス進んで、スイッチを切り替えないといけませんよね。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
