<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Schau dir das Rätsel zunächst an. Du kannst das Muster vielleicht nicht gleich erkennen. Versuche, einen Teil des Rätsels zu lösen, bevor du deine Schleife erstellst.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
