<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>
Remember that the scene is square, and it stretches from `Point(x: -500, y: -500)` on the bottom left to `Point(x: 500, y: 500)` on the top right.
</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
Sketch the universe on a sheet of paper and mark the origin (0, 0). Then mark where you think the center of the galaxy is, and work out roughly what its coordinates are.
		</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
The galaxy is in the top right quarter of the scene, so its coordinates will be something like (x, y).
		</string>
		</dict>
	</array>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>Name</key>
	<string>Coordinates and Graphics</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
