<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>配列から項目を削除するには、[ドット表記](glossary://dot%20notation)を使って **`remove(at: Int)`**[メソッド](glossary://method)を呼び出します: **`characters.remove(at: 3)`**</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
