<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>首先，将 `solveStair()` 函数定义为走上阶梯，收集宝石，向后转，然后走回中心位置。
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
