<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>N’oublie pas de lire les commentaires de code pour comprendre à quoi sert chaque section. Tu peux même triturer un petit peu avec le code, ça t’aidera à mieux le comprendre. Modifie quelque chose, exécute le code et vois ce qui a changé. Répète ce processus pour découvrir tous les endroits où personnaliser ton code.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
