<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Finde heraus, wo sich die Mitte der Bildunterschriften ungefähr befinden soll und erstelle mit `Point(x:y:)` einen Punkt für diese Koordinaten.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`let graphic3 = Graphic(text: caption3)`\
`scene.place(graphic3, at: Point(x: 250, y: -290))`\
`let graphic4 = Graphic(text: caption4)`\
`scene.place(graphic4, at: Point(x: -350, y: -340))`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Gut gemacht!

**Idee:** Stelle ein eigenes Foto (zum Beispiel ein Selfie mit deinen Freunden) als Hintergrundbild ein und denk dir Bildunterschriften dafür aus!

[**Nächste Seite**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
