<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Si estableces el valor `alpha` del gráfico tocado a algo como 0.25, el gráfico será casi transparente.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Usa una sentencia `if` con el operador `&lt;` para verificar si `graphic.alpha` es menor que 1.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Modify alpha.`\
`if graphic.alpha &lt; 1.0 {`\
`   graphic.alpha = 1.0`\
`} else {`\
`   graphic.alpha = 0.25`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ¡Bien hecho!

¡En la [**siguiente página**](@next), te divertirás aplastando gráficos!
			</string>
		</dict>
	</dict>
</dict>
</plist>
