<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Commence par ajouter un ensemble de valeurs [Int](glossary://Int) à ton tableau `heights`. Si tu veux rapidement ajouter des éléments à ton tableau, essaie de toucher les crochets et de les faire glisser vers la droite.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
