<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>First look at the puzzle. The pattern might be a bit tougher to spot at first. Try solving one part of the puzzle before creating your loop.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
