<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hints</key>
	<array>
		<string>
Use `componentsByCharacter()` to split `emoji` into an array of single-character strings.
		</string>
		<string>
Set `index` back to zero if it’s reached the end of the array:\
`if index == characters.count {`\
`   index = 0`\
`}`
</string>
	</array>
	<key>solution</key>
	<string>
`let characters = emoji.componentsByCharacter()`\
\
`var chosenEmoji = "🐠"`\
`chosenEmoji = characters[index]`\
let graphic = Graphic(text: chosenEmoji)`\
`index += 1`\
`if index == characters.count {`\
`   index = 0`\
`}`
	</string>
	<key>success</key>
	<string>
### 👏💪

Add some sparkle ✨ to your text and to the scene by using emoji.

Experiment with different values for `scale` and `rotation`.

[**Next Page**](@next)
	</string>
</dict>
</plist>
