<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>首先，你需要定义 `turnLock` 函数，以便它使用 `up` [参数](glossary://parameter)告诉专家朝哪个方向转动锁。然后使用 `numberOfTimes` 来设定转动锁的次数。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
