<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>[Déclare](glossary://declaration) une [variable](glossary://variable) afin de savoir combien de gemmes tu récupères et compare le chiffre obtenu à la [constante](glossary://constant) `totalGems` pour savoir quand tu dois arrêter.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
