<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**思い出そう:** 関数の完全な名前には、コロン（`:`）で区切られたパラメータ名が含まれます。`addAlien()`の完全な関数名は`addAlien(touch:)`です。
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string></string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### よくできました!

`onFingerMoved`（指を動かしたとき）のようなプロパティをどうして関数に設定できるんだろうと思うかもしれません。実は、`onFingerMoved`は`String`（文字列）や`Int`（整数）のような型ではなく、関数型を持ちます。`addAlien(touch:)`や`addMonster(touch:)`のような、パラメータが`Touch`（タッチ）1つだけのすべての関数に設定できます。

[**次のページ**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
