<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>En la primera plataforma, aparece un número aleatorio de joyas. Verifica cada espacio e incrementa la variable contadora de joyas para que incluya la cantidad de joyas que recolectas.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
