<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Create a tool giving it a name and emoji icon. For example:\
`let fruitTool = Tool(name: "Fruit", emojiIcon: "🍒")`\
or:\
`let greetingTool = Tool(name: "Greeting", emojiIcon: "🙏")`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Set the tool’s `onFingerMoved` property to the full name of one of the event handler functions. For example:\
`fruitTool.onFingerMoved = addFruit(touch:)`\
or:\
`greetingTool.onFingerMoved = addGreeting(touch:)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Finally, add the tool to the scene. For example:\
`scene.tools.append(fruitTool)`\
or:\
`scene.tools.append(greetingTool)`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string></string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Congratulations!

**Challenge:** Try writing your own `onFingerMoved` function, and add a new tool to call it.

[**Next Page**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
