<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>花一分钟来检查关卡，看看你掌握的哪项技能对通过本关最有用。解决方案有很多种，试试你想到的其中一种吧！</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
