<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>你需要在关卡世界的每块砖上放置你的角色的实例。修改你的[数组](glossary://array)，使它包括 `0` 到 `5` 的所有行值。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
