<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
空間にある物とカラーを取り出すには、`things[index]`と`colors[index]`を使います。
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`let graphic = Graphic(text: things[index])`\
\
`graphic.textColor = colors[index]`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### よくできました!

**イメージ** ツールを使ってイメージを配置するのと同じように、 **テキスト** ツールを使ってテキストを配置できます。どちらのツールでも、指を動かしたときに`Graphic`（グラフィック）インスタンスがシーンに配置されます。

[**次のページ**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
