<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>スイッチの位置のパターンを考えてみましょう。このパターンを関数にすれば、一部をクリアできますね。それを組み合わせれば、全体をクリアできるのでは?</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
