<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>
Use a different set of emoji such as fruit 🍋🍏🍎, or flowers 🌺🌼🌸, or even faces 😳😈😡.
		</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
Use a different background image or color.
		</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
Try different ranges for the random parameters such as the square `width`, circle `radius`, or spiral `spacing; for example:`\
`let radius = randomDouble(from: 20, to: 800)`
		</string>
		</dict>
	</array>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>Name</key>
	<string>Dancing Emoji</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
