<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>Boolean</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>拥有 `true` 值或 `false` 值的类型。例如，`9 &lt; 7` 返回布尔值 `false`，因为 `9` 不小于 `7`。</string>
				<key>Title</key>
				<string>布尔值</string>
			</dict>
		</dict>
		<key>Int</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document8.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>变量</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用于储存整数（无小数的数字）的类型，如 `10` 或 `-42`。 </string>
				<key>Title</key>
				<string>整数</string>
			</dict>
		</dict>
		<key>String</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document8.playgroundchapter/Introduction.cutscenepage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>变量</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用于储存一系列字符的类型，如 `“hello, world”` 或 `“dancing kittens.”`。</string>
				<key>Title</key>
				<string>字符串</string>
			</dict>
		</dict>
		<key>Swift</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Apple 的编程语言，用于编写 iPhone、iPad、Mac、Apple Watch 和 Apple TV 应用。 </string>
				<key>Title</key>
				<string>Swift</string>
			</dict>
		</dict>
		<key>algorithm</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用于解决某个问题的一套分步指示或规则。例如，泡茶的一系列步骤可视为一个算法。</string>
				<key>Title</key>
				<string>算法</string>
			</dict>
		</dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document11.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>参数</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>传入函数以自定其行为的输入值。例如，在名为 `move(distance: 3)` 的函数中，`3` 是用来指定移动多少空间的实参。</string>
				<key>Title</key>
				<string>实参</string>
			</dict>
		</dict>
		<key>arithmetic operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document8.playgroundchapter/Exercise2.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>变量</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>诸如 `+`、`-`、`*` 或 `/` 的符号，用来基于一个或多个数字执行基本数学运算。例如，`42 / 7` 和 `17 - 5` 使用了算术运算符。</string>
				<key>Title</key>
				<string>算术运算符</string>
			</dict>
		</dict>
		<key>array</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document13.playgroundchapter/00.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>数组</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>储存按序排列的同一类项目的集合。同一个项目可以在不同的位置出现多次。例如，`highScores = [37, 34, 29, 29, 26]` 是一个整组数组。</string>
				<key>Title</key>
				<string>数组</string>
			</dict>
		</dict>
		<key>array out of bounds error</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document13.playgroundchapter/07.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>数组</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>尝试使用数组界限外的索引访问数组时导致的错误。例如，索引 `2` 在数组 `[17, 42]` 的界限之外。</string>
				<key>Title</key>
				<string>数组越界错误</string>
			</dict>
		</dict>
		<key>assignment</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document8.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>变量</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>设定变量或常量值的操作。</string>
				<key>Title</key>
				<string>赋值</string>
			</dict>
		</dict>
		<key>assignment operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document8.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>变量</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>`=` 符号用于设定变量的值。例如，`greeting = “hello”` 将 `greeting` 的值设为 `“hello”`。</string>
				<key>Title</key>
				<string>赋值运算符</string>
			</dict>
		</dict>
		<key>bug</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>代码中阻止应用程序按预期运行的错误。 
</string>
				<key>Title</key>
				<string>程序错误</string>
			</dict>
		</dict>
		<key>call</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>告诉程序运行函数。例如，在代码中调用 `moveForward()` 告诉程序执行该函数中定义的操作。</string>
				<key>Title</key>
				<string>调用</string>
			</dict>
		</dict>
		<key>coding</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>编写命令、代码结构和算法以创建电脑程序的操作。
</string>
				<key>Title</key>
				<string>编程</string>
			</dict>
		</dict>
		<key>command</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>告诉应用程序执行特定操作的代码。 
</string>
				<key>Title</key>
				<string>命令</string>
			</dict>
		</dict>
		<key>comparison operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document8.playgroundchapter/Exercise3.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>变量</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>诸如 `==`、`!=`、`&lt;`、`&gt;`、`&lt;=` 或 `&gt;=` 的符号，用于比较两个值。比较运算符用在 `if` 语句或 `while` 循环的条件中，返回的布尔值表示比较结果是否为 `true`。例如，`6 &gt; 8` 将 `6` 和 `8` 进行比较，并返回 `false`。</string>
				<key>Title</key>
				<string>比较运算符</string>
			</dict>
		</dict>
		<key>composition</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>合并程序的各个小部分从而解决大问题的过程。 
</string>
				<key>Title</key>
				<string>组合</string>
			</dict>
		</dict>
		<key>compound assignment operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document8.playgroundchapter/Challenge3.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>变量</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>合并赋值（设定变量的值）和另一个运算（如加法或减法）的运算符。例如，如果 `a` 的当前值为 `1`，使用 `a += 3` 将在 `1` 的基础上加 `3`，并将结果赋予 `a`，因此 `a` 现在的值为 `4`。</string>
				<key>Title</key>
				<string>复合赋值运算符</string>
			</dict>
		</dict>
		<key>conditional code</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>仅当满足特定条件时才运行的代码。例如，`if` 语句和 `while` 循环包含仅在条件为 `true` 时或期间才运行的条件代码。 </string>
				<key>Title</key>
				<string>条件代码</string>
			</dict>
		</dict>
		<key>constant</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document8.playgroundchapter/Challenge3.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>变量</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一个被命名的容器，用于储存不可变值。</string>
				<key>Title</key>
				<string>常量</string>
			</dict>
		</dict>
		<key>debug</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>找出并修复代码中阻止应用程序正确运行的问题。 </string>
				<key>Title</key>
				<string>调试</string>
			</dict>
		</dict>
		<key>declaration</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document8.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>变量</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>在应用程序中创建新东西的一段代码，如函数、变量或自定类型。例如，`let planet = “Earth”` 声明了一个新常量 `planet`，并给它赋值 `"Earth"`。</string>
				<key>Title</key>
				<string>声明</string>
			</dict>
		</dict>
		<key>decomposition</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>将大问题分解成更易管理的小问题的过程。 </string>
				<key>Title</key>
				<string>分解</string>
			</dict>
		</dict>
		<key>define</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>为新创建的一段代码（如函数、变量或自定类型）提供确切值或行为。例如，通过在函数内提供一组命令来告诉函数应当如何做来定义函数。</string>
				<key>Title</key>
				<string>定义</string>
			</dict>
		</dict>
		<key>dot notation</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document9.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>类型</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用于访问实例的属性或调用实例的方法的一种语法形式。例如，`expert.toggleSwitch()` 调用 `expert` 实例上的 `toggleSwitch()` 方法。 </string>
				<key>Title</key>
				<string>点记法</string>
			</dict>
		</dict>
		<key>else block</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>`if` 语句中的最后一个代码块。`else` 块在 `if` 语句中的所有条件为 `false` 时运行。 </string>
				<key>Title</key>
				<string>else 块</string>
			</dict>
		</dict>
		<key>else if block</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>`if` 语句中的一个代码块，用于检查未被 `if` 块或任何其他 `else if` 块检查的条件。</string>
				<key>Title</key>
				<string>else if 块</string>
			</dict>
		</dict>
		<key>enumeration</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document11.playgroundchapter/Challenge1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>类型</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用于定义一组称为枚举用例的唯一但相关的值的类型。例如，`Direction` 枚举定义了每个基本方向的用例：`north`、`south`、`east` 和 `west`。将枚举赋值到变量或常量时，总是选取其中的一个用例；例如，`let compassDirection: Direction = .north`。</string>
				<key>Title</key>
				<string>枚举</string>
			</dict>
		</dict>
		<key>for loop</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>运行一定次数的重复代码块。 </string>
				<key>Title</key>
				<string>for 循环</string>
			</dict>
		</dict>
		<key>function</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一组被命名的命令，需要时即可运行。</string>
				<key>Title</key>
				<string>函数</string>
			</dict>
		</dict>
		<key>if block</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>`if` 语句中的第一个代码块。`if` 块在 `if` 语句中的条件为 `true` 时运行。 </string>
				<key>Title</key>
				<string>if 块</string>
			</dict>
		</dict>
		<key>if statement</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用来基于一个或多个条件的值运行代码的代码结构。`if` 语句中的第一个代码块是 `if` 块。`if` 语句可能还包含进行额外检查的其他块，如 `else` 块和 `else if` 块。</string>
				<key>Title</key>
				<string>if 语句</string>
			</dict>
		</dict>
		<key>index</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document13.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>数组</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>代表数组中项目位置的数字。 </string>
				<key>Title</key>
				<string>索引</string>
			</dict>
		</dict>
		<key>initialization</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document11.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>初始化</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>创建类型的新实例的操作，它包括为类型的任何属性设定初始值。 </string>
				<key>Title</key>
				<string>初始化</string>
			</dict>
		</dict>
		<key>inner loop</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>嵌套在另一个（外）循环中的重复代码块（循环）。</string>
				<key>Title</key>
				<string>内循环</string>
			</dict>
		</dict>
		<key>instance</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document10.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>类型</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一个特定类型的值。例如，在 `let greenPortal = Portal()` 中，`greenPortal` 是 `Portal` 类型的实例。</string>
				<key>Title</key>
				<string>实例</string>
			</dict>
		</dict>
		<key>iteration</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document13.playgroundchapter/00.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>数组</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>重复某个过程的操作，如对数组中的每个项目执行相同的操作。</string>
				<key>Title</key>
				<string>迭代</string>
			</dict>
		</dict>
		<key>local variable</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document13.playgroundchapter/09.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>数组</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>在函数、循环或其他语句内部声明的变量。局部变量不能在其定义的代码外访问。</string>
				<key>Title</key>
				<string>局部变量</string>
			</dict>
		</dict>
		<key>logical AND operator</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用于合并两个布尔值的符号 (`&amp;&amp;`)，两个值必须都为真，整段代码才为真。例如，只有在 `a` 和 `b` 均为 `true` 时，`a &amp;&amp; b` 才为真。</string>
				<key>Title</key>
				<string>逻辑“与”运算符</string>
			</dict>
		</dict>
		<key>logical NOT operator</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用于反转一段代码的布尔值的符号 (`!`)。例如，如果 `a` 为 `true`，则 `!a` 为 `false`。</string>
				<key>Title</key>
				<string>逻辑“非”运算符</string>
			</dict>
		</dict>
		<key>logical OR operator</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用于合并两个布尔值的符号 (||)，其中有一个值必须为真，整段代码才为真。例如，只有在 a 或 b 为真（或均为真）时，a || b 才为真。
</string>
				<key>Title</key>
				<string>逻辑“或”运算符</string>
			</dict>
		</dict>
		<key>logical operator</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>诸如 `&amp;&amp;`、`||` 或 `!` 的符号，用于修改或合并布尔逻辑值 `true` 和 `false`。</string>
				<key>Title</key>
				<string>逻辑运算符</string>
			</dict>
		</dict>
		<key>loop</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>重复运行一定次数（如 `for` 循环）或重复运行直至满足条件（如 `while` 循环）的代码块。</string>
				<key>Title</key>
				<string>循环</string>
			</dict>
		</dict>
		<key>method</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document9.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>类型</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>在类型内部被定义的一种函数或一组命令。</string>
				<key>Title</key>
				<string>方法</string>
			</dict>
		</dict>
		<key>nest</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>在一个代码块（或循环）内部放置另一个重复的代码块（或循环）。</string>
				<key>Title</key>
				<string>嵌套</string>
			</dict>
		</dict>
		<key>operator</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>诸如 `+`、`-` 或 `&amp;&amp;` 的符号，代表在一个或多个值上的操作。例如，在`1 + 2` 中，加法运算符 (`+`) 将数字 `1` 和 `2` 相加。 </string>
				<key>Title</key>
				<string>运算符</string>
			</dict>
		</dict>
		<key>outer loop</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>包含另一个（内）循环的重复代码块（循环）。</string>
				<key>Title</key>
				<string>外循环</string>
			</dict>
		</dict>
		<key>parameter</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document11.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>参数</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>函数的输入值的名称，用在函数的定义中。例如，在 `move(distance: Int)` 中，`distance` 是采用整数类型的值的参数。</string>
				<key>Title</key>
				<string>参数</string>
			</dict>
		</dict>
		<key>pattern</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一组重复的情形或数据。 
</string>
				<key>Title</key>
				<string>模式</string>
			</dict>
		</dict>
		<key>property</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document9.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>类型</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>在类型内部定义的一种变量（一种用于储存值的被命名的容器）。</string>
				<key>Title</key>
				<string>属性</string>
			</dict>
		</dict>
		<key>pseudocode</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>对算法的一种可被人类读懂的描述，编写时通常混合使用日常用语和代码。 
</string>
				<key>Title</key>
				<string>伪代码</string>
			</dict>
		</dict>
		<key>reusability</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>代码的一种特性，允许它在程序中的不同情况下被使用。 
</string>
				<key>Title</key>
				<string>可再用性</string>
			</dict>
		</dict>
		<key>right-hand rule</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一种规则，通常用于生成破解迷宫的算法，引导你的角色始终顺着其右手一侧的墙走来走出迷宫。</string>
				<key>Title</key>
				<string>右手定则</string>
			</dict>
		</dict>
		<key>state</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document9.playgroundchapter/Exercise2.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>类型</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一定时间内变量、程序或系统所储存的信息。</string>
				<key>Title</key>
				<string>状态</string>
			</dict>
		</dict>
		<key>statement</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>诸如循环或 `if` 语句的结构，用于组织程序中的代码。</string>
				<key>Title</key>
				<string>语句</string>
			</dict>
		</dict>
		<key>syntax</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document9.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>类型</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>编写电脑可以理解并运行的代码的规则。</string>
				<key>Title</key>
				<string>语法</string>
			</dict>
		</dict>
		<key>type</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document9.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>类型</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>某种数据的属性（特征）和方法（行为）构成的被命名群组。</string>
				<key>Title</key>
				<string>类型</string>
			</dict>
		</dict>
		<key>variable</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document8.playgroundchapter/Exercise1.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>类型</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一个被命名的容器，用于储存可变值。 </string>
				<key>Title</key>
				<string>变量</string>
			</dict>
		</dict>
		<key>while loop</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>给定条件为 `true` 时运行的一个代码块。当条件更改为 `false` 时，循环停止运行。 </string>
				<key>Title</key>
				<string>while 循环</string>
			</dict>
		</dict>
		<key>wireframe</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>关卡世界中项目（如宝石、开关或砖块）的外框。线框用于指示每次关卡运行时可能随机出现的项目。</string>
				<key>Title</key>
				<string>线框</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
