<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
你可以从可用的图像或照片图库中选取背景图像。甚至可以使用相机来拍摄一张照片用作背景！
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 多美妙的场景啊！

注意，背景图像会掩盖背景颜色。但是，如果你选取的图像具有透明或镂空部分，如 **Blu**，背景颜色将透过图像的透明部分显现。为场景选取背景时请牢记这一点。

[**下一页**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
