<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>First, you need to set the `isActive` [property](glossary://property) of `greenPortal` to `false`. Otherwise, every time you try to reach a switch, your character will teleport away.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
