<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
 **思い出そう:** これらのプロパティの1つをイベントハンドラ関数を設定するときは、その[完全な関数名](glossary://full%20function%20name)を使います。
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
