<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Busca cómo llegar a la joya a la vez que activas todos los interruptores. Identifica las habilidades que has aprendido que te ayudarán a completar tu objetivo.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
