<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
グラフィックを動かすときは、 **移動** ツールを選択し、指でグラフィックをドラッグします。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
グラフィックを消すときは、 **消去** ツールを選択し、グラフィックをタップします。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
これは **実験** ページで、答えはありません。実験を楽しんで、自分だけの答えを見つけてください。
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
