<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Définis `index` de façon à pointer vers un élément aléatoire du tableau :\
`let index = randomInt(from: 0, to: animals.count - 1)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`rotation` peut avoir une valeur `Double`, en degrés, comprise entre `0` et `360`.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Set index to a random value.`\
`let index = randomInt(from: 0, to: animals.count - 1)`\
\
`// Scale and rotate graphic.`\
`graphic.scale = randomDouble(from: 0.5, to: 2.0)`\
`graphic.rotation = randomDouble(from: 0.0, to: 360.0)`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Génial !

Essaie de créer ton propre tableau d’images, en utilisant `scale` et `rotation`.

[**Page suivante**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
