<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>
Add a string to `greeting` using the append operator (`+=`).
		</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
Append an exclamation mark:\
`greeting += "!"`\
\
Append a space:\
`greeting += " "`
		</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
Use the `speak()` function, passing `greeting` as its parameter.
		</string>
		</dict>
	</array>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>Name</key>
	<string>Stringing Strings Together</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
