<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Zur nächsten Position und `pointIndex` erhöhen:\
`let position = points[pointIndex]`\
`pointIndex += 1`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Setze `pointIndex` zurück, damit er innerhalb der Arraygrenzen bleibt:\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Get position.`\
`let position = points[pointIndex]`\
`// Increment pointIndex.`\
`pointIndex += 1`\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`\
`// Move graphic to position.`\
`graphic.move(to: position, duration: 1.0)`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Glückwunsch!

Experimentiere mit verschiedenen Punkten, Funktionen und Parametern und verschiedene Muster zu erhalten.

**Herausforderung:** Die von einer Musterfunktion ausgegebenen Punkt sind um den Mittelpunkt der Szene herum positioniert. Du kannst einfach für jeden Punkt X- und Y-Versatz hinzufügen und das Muster so an jeden beliebigen Punkt verschieben. Versuche, mehrere Muster an unterschiedlichen Orten in der Szene zu platzieren.

[**Nächste Seite**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
