<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>已经为你设置好了一个[函数](glossary://function)，你需要做的只是在其中加入 `if else` 语句。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
