<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Primero, teletransporta a tu personaje a través del portal azul para llegar a las joyas que están en el otro portal. Es posible que necesites desactivar el portal azul para obtener ambas joyas.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
