<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hints</key>
	<array>
		<string>
Sketch the x and y axes on paper to help you figure out the coordinates. Remember that x is the horizontal axis, and y the vertical, with (0, 0) at the center.
		</string>
		<string>
The coordinates in the four quadrants will each have a different combination of positive or negative x, y values—top right: (+, +), bottom right: (+, -), bottom left: (-, -), and top left: (-, +).
		</string>
	</array>
	<key>success</key>
	<string>
### Good work!

 What would your code be like if you had to place 10 objects on the scene, or even 30?! Notice how much code is repeated. Any time you see code repeated like this ask yourself, “Is there a better way?”
 
 **Think:** Is there a more efficient way to do this using an array?

 Find out on the [**next page**](@next).
	</string>
</dict>
</plist>
