<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Utilise `things[index]` et `colors[index]` pour obtenir l’élément et la couleur de l’espace.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`let graphic = Graphic(text: things[index])`\
\
`graphic.textColor = colors[index]`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Bien joué !

Tu peux utiliser l’outil **Texte** pour placer du texte, comme lorsque tu utilises l’outil **Image** pour placer des images. Les deux outils placent des instances `Graphic` sur la scène quand ton doigt bouge.

[**Page suivante**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
