<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>
Use `scene.write()` and pass in a string to write words on the scene.
        </string>
		</dict>
		<dict>
			<key>Content</key>
			<string>
When using strings, try not to get tied up in knots 😜.
       	</string>
		</dict>
	</array>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>Name</key>
	<string>Creating and Writing a String</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
