<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Usa `randomInt(from: 0, to: 23)` para obtener una nota aleatoria.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Si una nota suena demasiado fuerte, puedes agregar el parámetro opcional `volume`:
`playInstrument(.piano, note: 14, volume: 40)`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`let note = randomInt(from: 0, to: 15)`\
`if graphic.text == "🍐" {`\
`   playInstrument(.piano, note: note)`\
`}`\
`if graphic.text == "🍋" {`\
`   playInstrument(.electricGuitar, note: note)`\
`}`
`if graphic.text == "🍊" {`\
`   playInstrument(.cosmicDrums, note: note)`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ¡Bien hecho! Ya estás entendiendo cómo tocar notas.

Antes de avanzar, diviértete experimentando con distintos instrumentos y notas.

[**Siguiente página**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
