<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Description</string>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>First, add a set of [Int](glossary://Int) values to your `heights` array. If you want to quickly add more items to your array, try tapping on the square brackets and dragging to the right.</string>
		</dict>
	</array>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>MaximumSupportedExecutionSpeed</key>
	<string>Fastest</string>
	<key>Name</key>
	<string>Name</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>PosterReference</key>
	<string>LiveViewPoster.png</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
