<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Crea una herramienta y asígnale un nombre y un emoji. Por ejemplo:
`let fruitTool = Tool(name: "Fruit", emojiIcon: "🍒")`\
or:\
`let greetingTool = Tool(name: "Greeting", emojiIcon: "🙏")`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Establece la propiedad `onFingerMoved` de la herramienta al nombre completo de uno de las funciones de controlador de eventos. Por ejemplo:
`fruitTool.onFingerMoved = addFruit(touch:)`\
o:
`greetingTool.onFingerMoved = addGreeting(touch:)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Por último, agrega la herramienta al escenario. Por ejemplo:
`scene.tools.append(fruitTool)`\
:
`scene.tools.append(greetingTool)`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string></string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ¡Felicidades!

**Reto:** intenta escribir tu propia función `onFingerMoved`y agrega una nueva herramienta para poder llamarla.

[**Siguiente página**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
