<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Wenn du den Wert `alpha` der berührten Grafik bspw. auf 0.25 stellst, ist die Grafik fast durchsichtig.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Verwende eine `if`-Anweisung mit dem Operator `&lt;`, um zu überprüfen, ob `graphic.alpha` kleiner ist als 1.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Modify alpha.`\
`if graphic.alpha &lt; 1.0 {`\
`   graphic.alpha = 1.0`\
`} else {`\
`   graphic.alpha = 0.25`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Gut gemacht!

Auf der [**nächsten Seite**](@next)kannst du Spaß beim Zerquetschen von Grafiken haben!
			</string>
		</dict>
	</dict>
</dict>
</plist>
