<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
それぞれのキャプションの中心にする位置を大まかに決めて、`Point(x:y:)`を使ってその座標の点を作ります。
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`let graphic3 = Graphic(text: caption3)`\
`scene.place(graphic3, at: Point(x: 250, y: -290))`\
`let graphic4 = Graphic(text: caption4)`\
`scene.place(graphic4, at: Point(x: -350, y: -340))`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### よくできました!

**アイデア:** 背景イメージを自分の写真に設定して、キャプションを付けてみましょう! お友達と一緒の自撮り写真なんていかがですか?

[**次のページ**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
