<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Usa `things[index]` y `colors[index]` para obtener el espacio y el color.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`let graphic = Graphic(text: things[index])`\
\
`graphic.textColor = colors[index]`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ¡Bien hecho!

Puedes usar la herramienta **Texto** para colocar texto, al igual que usas la herramienta **Imagen** para colocar imágenes. Ambas herramientas colocan instancias de `Graphic` en el escenario a medida que se mueve tu dedo.

[**Siguiente página**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
