<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
在每个象限放置一个图形，计算每个图形的 (x, y) 坐标。\
以获取左下象限中的图形位置为例：\
`let position3 = Point(x: -x, y: -y)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**思路：** 将每个图形的 `rotation` 和 `scale` 都设为相同的随机值：\
`let rotation = randomDouble(from: 0, to: 180)`\
`let scale = randomDouble(from: 0.5, to: 2.5)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**思路：** 使每个图形在一段时间后消失：\
`graphic.fadeOut(after: 2.0)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**思路：** 使每个图形从触碰位置移到指定位置：\
`scene.place(graphics[0], at: touch.position)`\
`graphics[0].move(to: position1, duration: 2.0)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
这是个**创造**关，因此不提供解决方案。你可以随心所欲提出自己的创造性想法。
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
