<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Along the central path, whenever you reach a gem, a stairway leads down to the right. Whenever you reach a closed switch, there's another gem to the left.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
