<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
将图形放置在围绕中心的轨道中：\
`graphic.orbit(x: x, y: y, period: period)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
尝试将 `period` 更改为 0.5 至 4.0 之间的随机 `Double`（双精度浮点数）类型的数字。
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 非常棒！你掌握了星球运动的艺术！

**牢记：** `Double`（双精度浮点数）类型用于任何不是整数的数值。

[**下一页**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
