<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Essaie d’autres polices, comme `bradleyHand`, `markerfelt` ou `zapfino`.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Utilise l’outil **Déplacer** pour ajuster les positions de tes graphismes.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Utilise la propriété `rotation` de `Graphic` comme suit : `graphic1.rotation = 30`.
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
