<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ブロックを置くには、まず、`Block`（ブロック）[型](glossary://type)の[インスタンス](glossary://instance)を作る必要があります。次のように書きます: `let newBlock = Block()`</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
