<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>最初の地面に現れる宝石の数はランダムです。それぞれのマスを調べて、宝石を集めるたびに宝石をカウントする変数の値を増やしていきます。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
