<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>配列の中にない項目を取り出そうとすると、[配列の範囲外エラー](glossary://array%20out%20of%20bounds%20error)が起こります。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
