<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Tap the image used to create the graphic and choose a different image. Try the frog, or an alien, or even a friendly monster 👾.
	</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### You’re a 🌟?

Instead of dragging your finger, try tapping the scene in different places. Notice that a new graphic is added each time you tap. That’s because a tap causes a single touch event, and `addImage()` is called just once.

[**Next Page**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
