<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Denk daran:** Das erste Objekt im Array befindet sich am Index 0.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Tipp:** Beim Arbeiten mit [Arrays](glossary://array) und [Indizes](glossary://index) kann es hilfreich sein, das Array mit seinen Indizes zunächst auf dem Papier zu skizzieren.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Insert and remove items.`\
`images.insert(rugbyBall, at: 1)`\
`images.remove(at: 4)`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Super!

Es ist oft gar nicht so leicht, den Überblick über Array-Indizes zu behalten! Wenn du zum Beispiel den Planeten „Billardball“ entfernt hast und dann den Planeten „Rugbyball“ am Ende des Arrays nach dem Planeten „Basketball“ einfügen willst. An welchem Index musst du dann den Planeten „Rugbyball“ einfügen?

[**Nächste Seite**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
