<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>收集宝石，然后让 Byte 走到开关处（第二段阶梯前方的砖块上）。然后使用 `toggleSwitch()` 命令切换开关。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
