<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Place le graphisme en orbite autour du centre :\
`graphic.orbit(x: x, y: y, period: period)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Essaie de remplacer `period` par une valeur `Double` aléatoire comprise entre 0,5 et 4,0.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Bravo ! Tu maîtrises l’art du mouvement des planètes !

**Rappel :** Le type `Double` est utilisé pour toutes les valeurs numériques qui ne sont pas des chiffres entiers.

[**Page suivante**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
