<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>N’importe quelle case du carré peut comporter une gemme ou un interrupteur, ouvert ou fermé. Commence par écrire une fonction nommée `checkTile()` pour vérifier chaque possibilité que peut renfermer une seule case.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
