<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Erzeuge eine zufällige Note mit `randomInt(from: 0, to: 23)`.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Wenn eine Note zu laut klingt, kannst du den optionalen Parameter `volume` hinzufügen:\
`playInstrument(.piano, note: 14, volume: 40)`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`let note = randomInt(from: 0, to: 15)`\
`if graphic.text == "🍐" {`\
`   playInstrument(.piano, note: note)`\
`}`\
`if graphic.text == "🍋" {`\
`   playInstrument(.electricGuitar, note: note)`\
`}`
`if graphic.text == "🍊" {`\
`   playInstrument(.cosmicDrums, note: note)`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Gut gemacht! Du lernst, wie man Noten spielt.

Bevor du weitermachst, experimentiere doch ein wenig mit den verschiedenen Instrumenten und Noten.

[**Nächste Seite**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
