<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Recolecta la joya, mueve a Byte al interruptor (el espacio en la parte superior de la segunda escalera) y usa el comando `toggleSwitch()` para activar el interruptor.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
