<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>前の練習問題と同じように、宝石を1つ集めるたびに`gemCounter`（宝石カウンター）変数の値を更新する必要があります。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
