<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
グラフィックを各空間に配置して、それぞれの(x, y)座標を計算します。\
たとえば、左下の象限のグラフィックの位置を取り出します:\
`let position3 = Point(x: -x, y: -y)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**アイデア:** それぞれのグラフィックの`rotation`（回転）と`scale`（大きさ）を同じランダム値に設定してみましょう:\
`let rotation = randomDouble(from: 0, to: 180)`\
`let scale = randomDouble(from: 0.5, to: 2.5)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**アイデア:** それぞれのグラフィックが一定時間後にだんだんと消えるようにしてみましょう:\
`graphic.fadeOut(after: 2.0)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**アイデア:** それぞれのグラフィックをタッチした位置から別の位置に動かしてみましょう:\
`scene.place(graphics[0], at: touch.position)`\
`graphics[0].move(to: position1, duration: 2.0)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
これは **作成** ページで、答えはありません。自分だけの創造力あふれるアイデアを見つけましょう。
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
