<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>solution</key>
	<string>
`for graphic in graphics {`\
`   squishGraphic(graphic: graphic)`\
`}`
	</string>
	<key>success</key>
	<string>
### Excellent work!

The scene can have a single button that you can name; you can write your own “button tap” event handler function for it. With this button, you can do all sorts of useful things!

[**Next Page**](@next)
  	</string>
</dict>
</plist>
