<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>`totalGems` steht für die Gesamtzahl der Edelsteine, die im Rätsel erzeugt werden. Verwende diese [Konstante](glossary://constant) in Verbindung mit der edelsteinzählenden [Variable](glossary://variable), um festzulegen, wann keine Edelsteine mehr gesammelt werden sollen.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
