<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>First, [define](glossary://define) the `move` function. In the function, write a `for` loop that uses the `distance` value to determine how many times the loop runs.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
