<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Avant de pouvoir résoudre ce puzzle, tu dois placer ton expert dans le monde du puzzle. [Initialise](glossary://initialization) une instance du type `Expert`, puis indique au monde du puzzle l’endroit où tu souhaites la placer.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
