<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Du musst zunächst die Funktion `turnLock` so definieren, dass sie den [Parameter](glossary://parameter) `up`verwendet, um dem Experten zu sagen, in welche Richtung das Schloss gedreht werden soll. Verwende dann `numberOfTimes`, um festzulegen, wie oft das Schloss gedreht werden soll.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
