<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>このステージをクリアする方法はたくさんあります。これまでに学んだステージ作成の技を使って、ブロック、ワープ、階段を追加すれば、良い方法が見つかりますよ。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
