<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>`totalGems` representa el número total de joyas que se generarán en el rompecabezas. Usa esta [constante](glossary://constant), junto con una [variable](glossary://variable) que cuente joyas, para determinar cuándo debes dejar de recolectar.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
