<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>宝石を取ったら、バイト（Byte）をスイッチの場所（2本目の階段の一番上のマス）まで動かしましょう。そこで、`toggleSwitch()`（スイッチを切り替える）コマンドを使って、スイッチを入れます。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
