<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Si tu définis la valeur `alpha` du graphisme touché sur 0,25, le graphisme est quasiment transparent.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Utilise une instruction `if` avec l’opérateur `&lt;` pour voir si `graphic.alpha` est inférieur à 1.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Modify alpha.`\
`if graphic.alpha &lt; 1.0 {`\
`   graphic.alpha = 1.0`\
`} else {`\
`   graphic.alpha = 0.25`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Bien joué !

À la [**page suivante**](@next), tu vas t’amuser à écrabouiller des graphismes !
			</string>
		</dict>
	</dict>
</dict>
</plist>
