<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>First, teleport your character through the blue portal to reach the gems at the opposite portal. You might need to deactivate the blue portal to get both gems.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
