<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Trouve un accès jusqu’à la gemme tout en activant tous les interrupteurs fermés. Parmi les compétences que tu as acquises, trouve celle qui te permettra de réussir le plus efficacement.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
