<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>First, think through some possible solutions for this challenge. Use conditional code and logical operators to create rules for how your character moves around the world. Then write your code and test it out! If at first you don't succeed, try, try again.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
