<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Pour supprimer un élément d’un tableau, appelle la [méthode](glossary://method) **`remove(at: Int)`** en utilisant la [notation par points](glossary://dot%20notation) : **`characters.remove(at: 3)`**.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
