<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array/>
	<key>solution</key>
	<string>
`for graphic in graphics {`\
`   squishGraphic(graphic: graphic)`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### よくできました!

このシーンに1つのボタンを置いて名前を付けてもいいですね。そのために、独自の「ボタンをタップした」イベントハンドラ関数を書くことができます。このボタンを使って、いろいろ便利なことができますよ!

[**次のページ**](@next)
  	</string>
		</dict>
	</dict>
</dict>
</plist>
