<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Incluso si este rompecabezas parece distinto a los otros, lo puedes resolver usando la regla de la mano derecha. Sigue siempre la pared derecha del laberinto y tu personaje llegará eventualmente a la joya.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
