<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
次の位置を取得して、`pointIndex`を増やします:\
`let position = points[pointIndex]`\
`pointIndex += 1`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`pointIndex`をリセットして、配列の範囲を超えないようにします:\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Get position.`\
`let position = points[pointIndex]`\
`// Increment pointIndex.`\
`pointIndex += 1`\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`\
`// Move graphic to position.`\
`graphic.move(to: position, duration: 1.0)`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### おめでとうございます!

位置、関数やパラメータをいろいろ変えて、さまざまなパターンを作ってみてください。

**課題:** パターン関数で返された位置は、シーンの中心付近にあります。それぞれの位置に(x, y)のオフセットを簡単に追加して、パターンをどこでも好きな場所に配置できます。複数のパターンをシーン内の別々の場所に配置できますか?

[**次のページ**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
