<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
获取下一个位置并使 `pointIndex` 递增：\
`let position = points[pointIndex]`\
`pointIndex += 1`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
还原 `pointIndex`，使它保持在数组界限内：\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Get position.`\
`let position = points[pointIndex]`\
`// Increment pointIndex.`\
`pointIndex += 1`\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`\
`// Move graphic to position.`\
`graphic.move(to: position, duration: 1.0)`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 恭喜！

尝试通过使用不同的点、函数和参数来获取不同的图案。

**挑战：** 图案函数返回的点围绕场景中心放置。你可以轻松调整每个点的 x, y 值，将图案放在你喜欢的任何位置。看看你能否将几个图案放在场景中的不同位置。

[**下一页**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
