<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
轻点用于创建图形的图像并选取另一个图像。尝试一下青蛙或外星人，甚至是友好的怪兽 👾。
	</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 你是 🌟 吗？

尝试轻点场景中的不同地方，而不是拖移手指。请注意，每次你轻点时都会添加新图形。这是因为一次轻点会产生单个触碰事件，并且只调用一次 `addImage()`。

[**下一页**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
