<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Platziere in jedem Quadranten eine Grafik und berechne ihre Koordinaten (x, y).\
Die Position der Grafik im unteren linken Quadranten erhält man bspw. so:\
`let position3 = Point(x: -x, y: -y)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Idee:** Stelle `rotation` und `scale` für jede Grafik auf dieselben Zufallswerte ein:\
`let rotation = randomDouble(from: 0, to: 180)`\
`let scale = randomDouble(from: 0.5, to: 2.5)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Idee:** Blende die einzelnen Grafiken nach einer gewissen Zeit aus:\
`graphic.fadeOut(after: 2.0)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Idee:** Bewege die Grafiken von der Berührungsposition aus an ihre Position:\
`scene.place(graphics[0], at: touch.position)`\
`graphics[0].move(to: position1, duration: 2.0)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Das ist eine **kreative** Seite und es gibt keine Lösung. Du kannst dir deine eigenen kreativen Ideen ausdenken.
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
