<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>`for`ループの中に`if`文を追加してから、1つ目の条件を追加します。ショートカットバーで`||`演算子をタップして、2つ目の条件を追加します。条件が両方ともfalse（偽）の場合に前に進めるために、`else`ブロックも作ります。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
