<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Colocar el gráfico en una órbita alrededor del centro:
`graphic.orbit(x: x, y: y, period: period)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Intenta cambiar `period` a un valor `Double` aleatorio desde 0.5 a 4.0.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ¡Increíble! ¡Ya eres un maestro del arte del movimiento planetario!

**Recuerda:** el tipo `Double` se usa para cualquier valor que no sea un número entero.

[**Siguiente página**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
