<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>まずは、エキスパートとキャラクターの[インスタンス](glossary://instance)を[初期化](glossary://initialization)しましょう。用意されている定数名の`character`と`expert`は変えないでくださいね。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
