<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>まずは、`blockLocations`（ブロックの位置）に、ステージの残りの2隅を示す2つの座標を追加しましょう。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
