<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Du musst den Code solange ausführen, wie der Wert von `gemCounter` kleiner als 7 ist. Du musst den [Vergleichsoperator](glossary://comparison%20operator) `&lt;` verwenden, um die Bedingung in deiner `while`-Schleife zu schreiben.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
