<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array/>
	<key>solution</key>
	<string>
`for graphic in graphics {`\
`   squishGraphic(graphic: graphic)`\
`}`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 厉害极了！

场景可以有单个允许你命名的按钮；你可以为这个按钮编写你自己的“轻点按钮”事件处理程序函数。你可以通过这个按钮做各种各样有用的事情！

[**下一页**](@next)
  	</string>
		</dict>
	</dict>
</dict>
</plist>
