<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Your character should collect all the gems in the world, and you need to keep track of how many are collected. For every gem collected, increment `gemCounter` by one.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
