<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
使用 `Graphic(image: image)` 创建 `Graphic` 实例。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
使下一个图形的 `position` 向右上移动：\
`position.x += 75`\
`position.y += 75`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Create a graphic with image.`\
`let graphic = Graphic(image: image)`\
`// Place graphic on the scene.`\
`scene.place(graphic, at: position)`\
`// Set position for next graphic.`\
`position.x += 75`\
`position.y += 75`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 你是星球放置之星！

**挑战：** 你能否更改代码，将一排星球放到不同的象限，如左上象限？

[**下一页**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
