<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Verwende zunächst [Pseudocode](glossary://pseudocode), um zu planen, wie du das Portal aktivieren und wieder deaktivieren musst, um das Rätsel zu lösen. Schreibe dann denn Code aus und teste ihn.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
