<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Collecte la gemme, puis déplace Octet jusqu’à l’interrupteur (la case en haut du deuxième escalier). Active ensuite l’interrupteur en utilisant la commande `toggleSwitch()`.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
