<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>La longueur de la plateforme change chaque fois que tu exécutes ton code. Utilise une solution qui prend ce genre de modifications en compte.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
