<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Commence par [initialiser](glossary://initialization) une [instance](glossary://instance) de ton expert et une instance de ton personnage. Ne modifie pas les noms des constantes, à savoir `character` et `expert`, qui te sont fournis.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
