<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Before you can place a block, you need to create an [instance](glossary://instance) of the `Block` [type](glossary://type). Use the following code: `let newBlock = Block()`.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
