<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Recuerda:** el nombre completo de una función incluye los nombres de sus parámetros separados por dos puntos (`:`). El nombre completo de la función `addAlien()` es `addAlien(touch:)`.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string></string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ¡Buen trabajo!

 Te podrías estar preguntando cómo puedes establecer una propiedad como `onFingerMoved` a una función. Bueno, en lugar de tener un tipo como `String` o `Int`, `onFingerMoved` tiene un tipo de *función*. Se puede establecer a cualquier función que sólo tenga un parámetro `Touch`, como `addAlien(touch:)` o `addMonster(touch:)`.

[**Siguiente página**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
