<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Para mover un gráfico, selecciona la herramienta **Mover** y arrastra el gráfico con tu dedo.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Para eliminar un gráfico, selecciona la herramienta **Borrar** y toca el gráfico.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Esta es una página **Experimento**, por lo que no se proporciona una solución. Puedes experimentar y divertirte, y crear tus propias soluciones.
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
