<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>首先，思考本挑战关可能的一些解决方案。使用条件代码和逻辑运算符，来创建你的角色如何在世界中走动的规则。然后编写你的代码并进行测试！如果第一次没成功，那就多试几次吧。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
