<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Dein Charakter sollte alle Edelsteine in der Rätselwelt einsammeln und du musst zählen, wie viele eingesammelt wurden. Erhöhe für jeden eingesammelten Edelstein `gemCounter` um eins.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
