<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Tippe auf das Bild, das zum Erstellen der Grafik verwendet wurde, und wähle ein anderes Bild aus. Versuche es mit einem Frosch, einem Alien oder einem freundlichen Monster 👾.
	</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Du bist ein 🌟?

Versuche einmal, auf verschiedene Punkte in der Szene zu tippen, statt deinen Finger über die Szene zu ziehen. Du merkst, dass bei jedem Tippen eine neue Grafik hinzugefügt wird. Das liegt daran, dass ein Tippen als einzelnes Berührungsereignis zählt und `addImage()` nur einmal aufgerufen wird.

[**Nächste Seite**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
