<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**牢记：** 数组中的第一个项目位于索引 0。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**提示：** 配合使用[数组](glossary://array)和[索引](glossary://index)时，不妨用笔在纸上大致记录数组中的项目及其对应的索引。
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Insert and remove items.`\
`images.insert(rugbyBall, at: 1)`\
`images.remove(at: 4)`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 超棒！

跟进数组索引可能会有些棘手！假设你移除了“台球”星球，然后想将“橄榄球”星球插入到数组末尾的“篮球”星球之后。你要将“橄榄球”星球插入到哪个索引位置呢？

[**下一页**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
