<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>将 `greenPortal` [实例](glossary://instance)传入 `place` 方法以在两个岛之间创建传送门。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
