<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>バイト（Byte）が宝石にたどり着くには、2マス前に進んでから左を向き、さらに2マス進む必要があります。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
