<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>The Right-Hand Rule</string>
	<key>Description</key>
	<string>Description</string>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Start by running the code provided. The function `navigateAroundWall()` will move Byte all the way around one of the walls in the puzzle world. Work with the existing code, tweaking it so that Byte picks up all the gems and toggles the switch at the furthest corner of the world.</string>
		</dict>
	</array>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>PosterReference</key>
	<string>LiveViewPoster.jpg</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
</dict>
</plist>
