<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Denk daran:** Der vollständige Name einer Funktion enthält die dazugehörigen Parameter, die durch Doppelpunkte voneinander getrennt sind (`:`). Der vollständige Funktionsname von `addAlien()` lautet `addAlien(touch:)`.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string></string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Gut gemacht!

 Du fragst dich vielleicht, wie du eine Eigenschaft wie `onFingerMoved` an eine Funktion übergeben kannst. `onFingerMoved` hat anstelle eines Typs, wie `String` oder `Int` einen *Funktionstyp*. Dieser kann an jede Funktion übergeben werden, die nur einen Parameter `Touch` besitzt, wie `addAlien(touch:)` oder `addMonster(touch:)`.

[**Nächste Seite**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
