<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Defining Smarter Functions</string>
	<key>Description</key>
	<string>Description</string>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>There&apos;s a [function](glossary://function) already set up for you, so all you need to do is put an `if else` statement inside it.</string>
		</dict>
	</array>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>PosterReference</key>
	<string>LiveViewPoster.jpg</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
</dict>
</plist>
