<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Fixing Array Out of Bounds Errors</string>
	<key>Description</key>
	<string>Description</string>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>The [array out of bounds error](glossary://array%20out%20of%20bounds%20error) happens when you try to access an item in the array that doesn’t exist.</string>
		</dict>
	</array>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>PosterReference</key>
	<string>LiveViewPoster.png</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>MaximumSupportedExecutionSpeed</key>
	<string>Fastest</string>
</dict>
</plist>
