<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Du kannst auf eine Platte tippen, um seine Koordinatenwerte anzuzeigen. Finde den Ort, an dem dein Experte beginnen soll und tippe dann auf die Platte, um die Werte für Spalte und Zeile, die an die Methode `place` übergeben werden müssen, herauszufinden.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
