<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Du kannst den folgenden Code verwenden, um eine [Instanz](glossary://instance) des Typs `Stair` zu erstellen und gleichzeitig zu platzieren: `world.place(Stair(), facing: east, atColumn: 3, row: 3)`</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
