<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>尝试不更改 `moveForward()` 命令，将 `else` 块保持原样。转而修改 `if` 块内部的命令。
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
