<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>Boolean</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>`true`（真）または`false`（偽）のいずれかの値を持つ型。たとえば、`9 &lt; 7`では、9は7よりも小さくないので、ブール値の`false`（偽）が返されます。</string>
				<key>Title</key>
				<string>論理値</string>
			</dict>
		</dict>
		<key>Double</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/06.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>小数部分のある数が入る型（3.14など）。</string>
				<key>Title</key>
				<string>倍精度浮動小数点</string>
			</dict>
		</dict>
		<key>Int</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/06.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>整数を入れるための型。整数は、小数点以下を持たない数です（10や-42など）。</string>
				<key>Title</key>
				<string>Int</string>
			</dict>
		</dict>
		<key>String</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03a.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一連の文字を入れるための型。たとえば、`“hello, world”`や`“dancing kittens”`などです。</string>
				<key>Title</key>
				<string>文字列</string>
			</dict>
		</dict>
		<key>Swift</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Appleが開発したプログラミング言語。iPhone、iPad、Mac、Apple Watch、Apple TV向けのAppやアプリケーションを作るために使われます。</string>
				<key>Title</key>
				<string>Swift</string>
			</dict>
		</dict>
		<key>absolute value</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>数から符号を取り除いた値。たとえば、-12の絶対値は12で、23.4の絶対値は23.4です。</string>
				<key>Title</key>
				<string>絶対値</string>
			</dict>
		</dict>
		<key>algorithm</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>問題を解くための段階的な手順または規則。たとえば、お茶を入れるための一連の手順は、アルゴリズムといえます。</string>
				<key>Title</key>
				<string>アルゴリズム</string>
			</dict>
		</dict>
		<key>append</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document4.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>イベントハンドラ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>何かの末尾に追加すること。たとえば、文字列を別の文字列の末尾に追加したり、項目の配列に項目を追加したりできます。
</string>
				<key>Title</key>
				<string>追加</string>
			</dict>
		</dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>関数の動作を変えるために関数に指定する入力値。たとえば、`move(distance: 3)`という関数呼び出しでは、`3`という引数で、何マス移動するかを指定しています。</string>
				<key>Title</key>
				<string>引数</string>
			</dict>
		</dict>
		<key>arithmetic operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>1つ以上の数値を使って基本的な計算を行うための記号（`+`、`-`、`*`、`/`など）。たとえば、`42 / 7`や`17 - 5`には、算術演算子が使われています。</string>
				<key>Title</key>
				<string>算術演算子</string>
			</dict>
		</dict>
		<key>array</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>項目を順番に並べて保存するための入れ物。同じ項目を違う場所に入れることもできます。たとえば、`["鳥", "犬", "猫", "スカンク", "猫"]`は、文字列の配列です。</string>
				<key>Title</key>
				<string>配列</string>
			</dict>
		</dict>
		<key>assignment</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>変数または定数の値を設定する操作。</string>
				<key>Title</key>
				<string>代入</string>
			</dict>
		</dict>
		<key>assignment operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>変数に値を設定するための記号（`=`）。たとえば、`greeting = “hello”`では、`greeting`（挨拶）の値として`“hello”`が設定されます。</string>
				<key>Title</key>
				<string>代入演算子</string>
			</dict>
		</dict>
		<key>bounds</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document2.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>タッチイベント</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>配列のインデックスに割り当てられる値の範囲。たとえば、配列`[17, 42, 95]`では、0から2までのインデックス値が使えます。範囲の確認とは、インデックス値が配列の範囲内であることを確認する処理のことです。</string>
				<key>Title</key>
				<string>範囲</string>
			</dict>
		</dict>
		<key>bug</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>コードまたはアプリケーションが正しく動かない原因となるコードのミス。
</string>
				<key>Title</key>
				<string>バグ</string>
			</dict>
		</dict>
		<key>call</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>特定の関数を実行するようにコードに命令すること。たとえば、コードの中で`moveForward()`（進む）関数を呼び出すと、この関数で定義された操作が実行されます。</string>
				<key>Title</key>
				<string>発信</string>
			</dict>
		</dict>
		<key>code expression</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>評価されて値を返すことができるコード。たとえば、`months`（月）が12個の項目を含む配列であれば、コード式`months.count - 1`は`11`という値を返します。</string>
				<key>Title</key>
				<string>コード式</string>
			</dict>
		</dict>
		<key>coding</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>コマンド、コード構造、アルゴリズムを組み立ててコンピュータアプリケーションを作ること。
</string>
				<key>Title</key>
				<string>コーディング</string>
			</dict>
		</dict>
		<key>collection</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>複数のデータを入れるために使われる、配列やディクショナリなどのデータ構造。</string>
				<key>Title</key>
				<string>コレクション</string>
			</dict>
		</dict>
		<key>command</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>アプリケーションに特定の操作を実行することを命令するためのコード。
</string>
				<key>Title</key>
				<string>コマンド</string>
			</dict>
		</dict>
		<key>comparison operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>2つの値を比較するための記号（`==`、`!=`、`&lt;`、`&gt;`、`&lt;=`、`&gt;=`など）。if文やwhileループの条件として、比較の結果がブール値の`true`（真）であるかどうかを調べるためによく使われます。たとえば、`6 &gt; 8`では、`6`と`8`が比較されて、`false`（偽）が返されます。</string>
				<key>Title</key>
				<string>比較演算子</string>
			</dict>
		</dict>
		<key>composition</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>アプリケーションの小さい部分を組み合わせて大きい問題を解くこと。
</string>
				<key>Title</key>
				<string>コンポジション</string>
			</dict>
		</dict>
		<key>compound assignment operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>演算（足し算や引き算など）と代入（変数に値を設定する操作）を組み合わせた演算子。たとえば、`a`の値が`1`の場合、`a += 3`と書くと、`1`に`3`を足した結果が`a`に代入されて、`a`の値は`4`になります。</string>
				<key>Title</key>
				<string>複合代入演算子</string>
			</dict>
		</dict>
		<key>conditional code</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>指定した条件に当てはまるときにだけ実行されるコード。たとえば、if文やwhileループ内のコードは、指定した条件がtrue（真）の場合またはtrue（真）の間だけ実行されます。</string>
				<key>Title</key>
				<string>条件分岐コード</string>
			</dict>
		</dict>
		<key>constant</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03a.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>変更できない値を保存するための、名前の付いた入れ物。</string>
				<key>Title</key>
				<string>定数</string>
			</dict>
		</dict>
		<key>coordinates</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>空間内での位置を一意に決定する番号セット。たとえば、(100, -200)は2D空間内での点の座標で、x座標が100、y座標が-200です。
</string>
				<key>Title</key>
				<string>座標</string>
			</dict>
		</dict>
		<key>data</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>コンピュータによって処理または保存される情報。それに対して作用するコードとは別物です。
</string>
				<key>Title</key>
				<string>データ</string>
			</dict>
		</dict>
		<key>debug</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>アプリケーションが正しく動かない原因となるコードのミスを見つけて直すこと。</string>
				<key>Title</key>
				<string>デバッグ</string>
			</dict>
		</dict>
		<key>declaration</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>アプリケーション内に新しいもの（関数、変数、カスタム型など）を作るためのコード。たとえば、`let planet = “Earth”`では、`planet`（宇宙）という名前の新しい定数が作られ、その値が`"Earth"`（地球）に設定されます。</string>
				<key>Title</key>
				<string>宣言</string>
			</dict>
		</dict>
		<key>decomposition</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>大きい問題を、解きやすいように、いくつかの小さい部分に分けること。</string>
				<key>Title</key>
				<string>分解</string>
			</dict>
		</dict>
		<key>decrement</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>決まった整数値（多くの場合1）ずつ数を減らすこと。</string>
				<key>Title</key>
				<string>減らす</string>
			</dict>
		</dict>
		<key>define</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>新しく作成したコード（関数、変数、カスタム型など）の値や動作を指定すること。たとえば、関数を定義するときは、その関数で実行する操作を示す一連のコマンドを指定します。</string>
				<key>Title</key>
				<string>定義</string>
			</dict>
		</dict>
		<key>dot notation</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>プロパティを取り出すときや、インスタンスのメソッドを呼び出すときに使う構文。たとえば、`expert.toggleSwitch()`では、`expert`（エキスパート）インスタンスの`toggleSwitch()`（スイッチを切り替える）メソッドが呼び出されます。
</string>
				<key>Title</key>
				<string>ドット表記</string>
			</dict>
		</dict>
		<key>efficiency</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>コードがどのくらい、意図された目的をできるだけ少ないリソース（メモリや電力など）ですばやく実行できるかの尺度。</string>
				<key>Title</key>
				<string>効率</string>
			</dict>
		</dict>
		<key>else block</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>`if`文に含まれる最後のコードブロック。if文に含まれるすべての条件がfalse（偽）の場合に実行されます。</string>
				<key>Title</key>
				<string>elseブロック</string>
			</dict>
		</dict>
		<key>else if block</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>if文の中のコードブロックで、ifブロックでもほかのelse ifブロックでも調べられない条件を調べるために使われます。
</string>
				<key>Title</key>
				<string>else ifブロック</string>
			</dict>
		</dict>
		<key>enumeration</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03b.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>何か関連のある名前付きの値の定義済みセットを含むデータ型。よくenumと略されます。たとえば、`Continents`（大陸）という列挙には`africa`（アフリカ）、`asia`（アジア）などの値が入ります。</string>
				<key>Title</key>
				<string>列挙</string>
			</dict>
		</dict>
		<key>event</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document2.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>タッチイベント</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>コンピュータアプリケーションが検出できる操作。ボタンのタップや画面の回転などの入力によってイベントが発生します。</string>
				<key>Title</key>
				<string>イベント</string>
			</dict>
		</dict>
		<key>event handler</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document4.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>イベントハンドラ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>イベントが起きた後、そのイベントを処理するために呼び出される関数。</string>
				<key>Title</key>
				<string>イベントハンドラ</string>
			</dict>
		</dict>
		<key>filtering</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>コレクションまたはデータ構造に含まれるデータを処理して、データの新しいセットを作り出すこと。</string>
				<key>Title</key>
				<string>フィルタリング</string>
			</dict>
		</dict>
		<key>font</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03b.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>特定のデザインスタイル、太さ、サイズのテキスト文字セット。フォントのデザインスタイルは書体と呼ばれ、このデザインのバリエーションが集まって書体ファミリーになります。たとえば、HelveticaNeueは書体であり、10ポイントのHelveticaNeue-Boldはフォントです。</string>
				<key>Title</key>
				<string>フォント</string>
			</dict>
		</dict>
		<key>for loop</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>特定の回数だけ繰り返し実行されるコードブロック。</string>
				<key>Title</key>
				<string>forループ</string>
			</dict>
		</dict>
		<key>full function name</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document4.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>イベントハンドラ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>関数の完全な名前。`move(to:duration:)`のように、コロン（`:`）で区切られたパラメータの名前が含まれます。
</string>
				<key>Title</key>
				<string>完全な関数名</string>
			</dict>
		</dict>
		<key>function</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>必要なときにすばやく実行できるように、一連のコマンドに名前を付けたもの。</string>
				<key>Title</key>
				<string>関数</string>
			</dict>
		</dict>
		<key>if block</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>if文に含まれる最初のコードブロック。if文の条件がtrue（真）の場合に実行されます。</string>
				<key>Title</key>
				<string>ifブロック</string>
			</dict>
		</dict>
		<key>if statement</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>1つまたは複数の条件の値に基づいてコードを実行するときに使うコード構造。if文の最初のコードブロックはifブロックです。if文には、別の条件を調べるためのほかのブロックも含まれることがあります。たとえば、elseブロックはif文のすべての条件がfalse（偽）のときに実行されます。else ifブロックでは、ifブロックでもほかのelse ifブロックでも調べられない条件が調べられます。
</string>
				<key>Title</key>
				<string>if文</string>
			</dict>
		</dict>
		<key>increment</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document2.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>タッチイベント</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>決まった整数値（多くの場合1）ずつ数を増やすこと。</string>
				<key>Title</key>
				<string>増やす</string>
			</dict>
		</dict>
		<key>index</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/05.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>配列内での各項目の位置を示す番号。</string>
				<key>Title</key>
				<string>インデックス</string>
			</dict>
		</dict>
		<key>initialization</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>特定の型の新しいインスタンスを作ること。同時に、その型のプロパティに初期値を設定することもあります。</string>
				<key>Title</key>
				<string>初期化</string>
			</dict>
		</dict>
		<key>inner loop</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>別の（外側の）ループ（繰り返し実行されるコードブロック）に含まれるループ。</string>
				<key>Title</key>
				<string>内側のループ</string>
			</dict>
		</dict>
		<key>instance</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>特定の型の値。たとえば、`let greenPortal = Portal()`では、`greenPortal`（緑のワープ）は`Portal`（ワープ）型のインスタンスになります。</string>
				<key>Title</key>
				<string>インスタンス</string>
			</dict>
		</dict>
		<key>iteration</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>特定の処理を繰り返すこと。たとえば、コレクション内の各項目に同じ操作をするなどです。</string>
				<key>Title</key>
				<string>反復処理</string>
			</dict>
		</dict>
		<key>logical AND operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>2つのブール値が両方とも`true`（真）であれば全体を`true`とみなすための記号（`&amp;&amp;`）。たとえば、`a &amp;&amp; b`は、`a`と`b`の両方が`true`の場合にのみ、`true`になります。</string>
				<key>Title</key>
				<string>論理AND演算子</string>
			</dict>
		</dict>
		<key>logical NOT operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>コードのブール値を逆にするための記号（`!`）。たとえば、`a`が`true`（真）の場合、`!a`は`false`（偽）になります。</string>
				<key>Title</key>
				<string>論理NOT演算子</string>
			</dict>
		</dict>
		<key>logical OR operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>2つのブール値の少なくとも一方がtrue（真）であれば全体をtrueとみなすための記号（||）。たとえば`a || b`は、`a`または`b`のどちらか（あるいは両方）が`true`であれば、`true`になります。
</string>
				<key>Title</key>
				<string>論理OR演算子</string>
			</dict>
		</dict>
		<key>logical operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>ブール論理値である`true`（真）と`false`（偽）を逆にしたり組み合わせたりするための記号（`&amp;&amp;`、`||`、`!`など）。</string>
				<key>Title</key>
				<string>論理演算子</string>
			</dict>
		</dict>
		<key>loop</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>特定の回数だけ繰り返し実行されるコードブロック（forループなど）、または、条件が当てはまる間は繰り返し実行されるコードブロック（whileループなど）。</string>
				<key>Title</key>
				<string>ループ</string>
			</dict>
		</dict>
		<key>memory</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>アプリケーションのコードとそこで使われるデータが一時的または恒久的に保存されるコンピュータの部分。</string>
				<key>Title</key>
				<string>メモリ</string>
			</dict>
		</dict>
		<key>method</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>型によって定義された関数（一連のコマンド）。</string>
				<key>Title</key>
				<string>メソッド</string>
			</dict>
		</dict>
		<key>modulo operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>1つの値を別の値で割った後の余りを返す記号（`%`）。たとえば、`17 % 5`は`2`を返します。</string>
				<key>Title</key>
				<string>モジュロ演算子</string>
			</dict>
		</dict>
		<key>nest</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>繰り返し実行されるコードブロック（ループなど）の中に別のコードブロックを入れること。</string>
				<key>Title</key>
				<string>ネスト</string>
			</dict>
		</dict>
		<key>operator</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>1つ以上の値を使って操作を行うための記号（`+`、`-`、`&amp;&amp;`など）。たとえば、`1 + 2`では、加算演算子（`+`）によって、数字の`1`と`2`が足し算されます。</string>
				<key>Title</key>
				<string>演算子</string>
			</dict>
		</dict>
		<key>out of bounds error</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document2.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>タッチイベント</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>配列の範囲を超えるインデックスを使って配列内の項目を取り出そうとするときに起こるエラー。たとえば、インデックス2は、配列`[17, 42]`で使用された場合には、範囲外エラーになります。</string>
				<key>Title</key>
				<string>範囲外エラー</string>
			</dict>
		</dict>
		<key>outer loop</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>別の（内側の）ループ（繰り返し実行されるコードブロック）を含むループ。</string>
				<key>Title</key>
				<string>外側のループ</string>
			</dict>
		</dict>
		<key>parameter</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>関数の定義で使われる、関数に指定する入力値の名前。たとえば、関数`move(distance: Int)`では、`distance`（距離）が、`Int`型の値を受け取るパラメータになります。</string>
				<key>Title</key>
				<string>パラメータ</string>
			</dict>
		</dict>
		<key>pattern</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一連の状況やデータの繰り返し。
</string>
				<key>Title</key>
				<string>パターン</string>
			</dict>
		</dict>
		<key>property</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>型によって定義された変数（値を保存するための、名前の付いた入れ物）。</string>
				<key>Title</key>
				<string>プロパティ</string>
			</dict>
		</dict>
		<key>pseudocode</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>アルゴリズムを言葉で説明したもの。たいていは、ふだん使う言葉とコードの両方を組み合わせて書きます。
</string>
				<key>Title</key>
				<string>疑似コード</string>
			</dict>
		</dict>
		<key>reusability</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>アプリケーション内のさまざまな場所で利用できるというコードの特性。
</string>
				<key>Title</key>
				<string>再利用可能</string>
			</dict>
		</dict>
		<key>speech synthesis</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document4.playgroundchapter/05.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>イベントハンドラ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>人間の声に似たサウンドをコンピュータが作ること。通常はテキストから生成されます。
</string>
				<key>Title</key>
				<string>音声合成</string>
			</dict>
		</dict>
		<key>state</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>変数、アプリケーション、またはシステムに、特定の時点で保存されている情報。</string>
				<key>Title</key>
				<string>状態</string>
			</dict>
		</dict>
		<key>statement</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>アプリケーションのコードを分類するための構造（ループや`if`文など）。</string>
				<key>Title</key>
				<string>命令文</string>
			</dict>
		</dict>
		<key>string component</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>文字列を区切り文字で複数の部分に分割した後の各部分（部分文字列）。たとえば、文字列`“dog+cat+fish”`を区切り文字`“+”`で分割した場合、その構成要素は`“dog”`、`“cat”`、`“fish”`という文字列になります。
</string>
				<key>Title</key>
				<string>文字列コンポーネント</string>
			</dict>
		</dict>
		<key>string concatenation</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>1つの文字列を別の文字列の最後に追加して文字列を結合する操作。たとえば、`“foot”`と`“ball”`を連結すると`“football”`になります。
				</string>
				<key>Title</key>
				<string>文字列結合</string>
			</dict>
		</dict>
		<key>string interpolation</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>
長い文字列の中で、その文字列が評価されたときに現在の値に置き換わる定数、変数、またはコード式を使用すること。たとえば、文字列`“Katy ate a \(fruit).”`で`fruit`（果物）が`“peach”`（桃）という値を持つ変数の場合、文字列が評価されると`\(fruit)`が`“peach”`に置き換わり、`“Katy ate a peach.”`（ケイティは桃を食べた）になります。
				</string>
				<key>Title</key>
				<string>文字列補間</string>
			</dict>
		</dict>
		<key>syntax</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>コンピュータが理解して実行できるようにコードを書くための規則。</string>
				<key>Title</key>
				<string>構文</string>
			</dict>
		</dict>
		<key>type</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>プロパティ（特徴）とメソッド（動作）によってデータの種類を分けるための、名前の付いたグループ。</string>
				<key>Title</key>
				<string>型</string>
			</dict>
		</dict>
		<key>typography</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03b.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>書かれた言語が表示されたときに見やすく、読みやすく、魅力的にするために活字を整える技術とテクニック。</string>
				<key>Title</key>
				<string>タイポグラフィ</string>
			</dict>
		</dict>
		<key>user input</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>画面をタップまたはスワイプしたり、キーボードでテキストを入力したり、マイクに向かって話したりなど、アプリケーションがユーザ操作から取得する情報。
</string>
				<key>Title</key>
				<string>ユーザ入力</string>
			</dict>
		</dict>
		<key>variable</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/05.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>座標</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>変更できる値を保存するための、名前の付いた入れ物。</string>
				<key>Title</key>
				<string>変数</string>
			</dict>
		</dict>
		<key>while loop</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>指定した条件が`true`（真）になる間は繰り返し実行されるコードブロック。条件が`false`（偽）に変わると、ループの実行は終了します。
</string>
				<key>Title</key>
				<string>whileループ</string>
			</dict>
		</dict>
		<key>wireframe</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>ステージ内のアイテム（宝石、スイッチ、ブロックなど）の輪郭。実行するたびにランダムに置かれるアイテムが現れる可能性のある場所を示すために使われます。</string>
				<key>Title</key>
				<string>ワイヤフレーム</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
