<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Crée une instance `Graphic` à l’aide de `Graphic(image: image)`.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Déplace `position` vers le haut puis vers la droite pour le graphisme suivant :\
`position.x += 75`\
`position.y += 75`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Create a graphic with image.`\
`let graphic = Graphic(image: image)`\
`// Place graphic on the scene.`\
`scene.place(graphic, at: position)`\
`// Set position for next graphic.`\
`position.x += 75`\
`position.y += 75`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Tu es un placeur de planètes hors pair !

**Defi :** Peux-tu changer le code pour placer la rangée de planètes dans un quadrant différent, peut-être en haut à gauche ?

[**Page suivante**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
